.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-4);
    font-weight: 500;
    height: 90px;
}

.footer_navLink_wrapp {
    display: flex;
    gap: 75px;
}

.footer_navLink {
    position: relative;
}

.footer_navLink:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    display: inline-block;
    height: 1px;
    background: var(--black);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform .65s var(--primary-curve);
    transition: -webkit-transform .65s var(--primary-curve);
    -moz-transition: transform .65s var(--primary-curve), -moz-transform .65s var(--primary-curve);
    transition: transform .65s var(--primary-curve);
    transition: transform .65s var(--primary-curve), -webkit-transform .65s var(--primary-curve), -moz-transform .65s var(--primary-curve);
}

.footer_navLink:hover:after {
    -webkit-transform: var(--base-scale3d);
    -moz-transform: var(--base-scale3d);
    transform: var(--base-scale3d);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
}

@media (max-width:767px) {
    .footer_wrap {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 25px;
        padding: 40px 0;
    }

    .footer_navLink_wrapp {
        width: 100%;
        justify-content: space-between;
        gap: 0px;
    }
}