.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--title-4);
    font-weight: 500;
    height: 90px;
}

.header_navLink {
    position: relative;
}

.header_navLink:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    display: inline-block;
    height: 1px;
    background: var(--black);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform .65s var(--primary-curve);
    transition: -webkit-transform .65s var(--primary-curve);
    -moz-transition: transform .65s var(--primary-curve), -moz-transform .65s var(--primary-curve);
    transition: transform .65s var(--primary-curve);
    transition: transform .65s var(--primary-curve), -webkit-transform .65s var(--primary-curve), -moz-transform .65s var(--primary-curve);
}

.header_navLink:hover:after {
    -webkit-transform: var(--base-scale3d);
    -moz-transform: var(--base-scale3d);
    transform: var(--base-scale3d);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
}