.about {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.about_text {
    text-transform: uppercase;
    font-size: var(--lg-paragraph-text);
    line-height: 1.25;
    opacity: 0;
    /* Початковий стан - елемент невидимий */
    transform: translateY(50px);
    /* Початкова позиція */
}

.about_descr {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 70%;
}