.about {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.about_text {
    text-transform: uppercase;
    font-size: var(--lg-paragraph-text);
    line-height: 1.25;
    opacity: 0;
    transform: translateY(50px);
}

.about_descr {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 70%;
}