.about {
    padding-top: 150px;
}

.about_header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.about_count {
    width: 150px;
    flex-shrink: 0;
    font-size: 1.5rem;
    padding-top: 6px;
}

.about_heading {
    font-size: var(--title-1);
    font-weight: 500;
    line-height: 0.875;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(60px);
}

.about_text {
    text-transform: uppercase;
    font-size: var(--lg-paragraph-text);
    line-height: 1.25;
    opacity: 0;
    transform: translateY(50px);
}

.about_descr {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-left: 150px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 1023px) {
    .about {
        padding-top: 100px;
    }

    .about_header {
        margin-bottom: 40px;
    }

    .about_count {
        width: 80px;
    }

    .about_descr {
        padding-left: 80px;
    }
}

@media (max-width: 767px) {
    .about {
        padding-top: 70px;
    }

    .about_header {
        margin-bottom: 28px;
    }

    .about_count {
        width: 50px;
    }

    .about_descr {
        padding-left: 50px;
        gap: 24px;
    }
}
